# Environnement Python
venv/
__pycache__/
*.pyc

# Modeles lourds
models_rpi/*.pt
models_rpi/custom/*.pt
models_rpi/*.onnx
models_rpi/custom/*.onnx

# Videos
data/videos/
*.mp4
*.avi
*.mov

# Resultats
results/
*.json

# SUMO fichiers generes
*.net.xml
