# Modèles & poids
*.onnx
*.pt
models/weights/

# Python
__pycache__/
*.pyc
.env

# Vidéos (trop lourdes)
*.mp4
*.MP4
Videos Drone/
data/videos/

# Archives & datasets bruts
*.zip
/dataset_v2
/dataset_v1

# macOS
.DS_Store
**/.DS_Store
