# Environnement Python
venv/
__pycache__/
*.pyc
*.pyo
.env

# Modèles lourds (trop grands pour GitHub)
models_rpi/*.onnx
dataset_v2/

# Vidéos
data/videos/
Videos\ Drone/

# Fichiers système
.DS_Store
*.log

# Dossiers cachés
.git/
